<div id="home" class="row">
  <div class="large-6 large-offset-3">

    <article>
      <header>
        <h2>PDF validator</h2>
      </header>

      <form id="validate-form" enctype="multipart/form-data">
        <label for="inputProfileId">Select profile for validation</label>
        <select id="inputProfileId" ng-options="profileId as profileId for profileId in profileIds" ng-model="currentProfileId">
        </select>
        <br/>

        <label for="inputPdfToValidate">Upload PDF file to validate</label>
        <input id="inputPdfToValidate" type="file" name="file" file-model="pdfFile">
        <br/>


        <button id="get-profile" ng-click="getProfile()" >Get profile</button>
        <button id="validate" ng-click="validatePdf()" ng-disabled="!pdfFile">Validate</button>

      </form>
    </article>

    <article id="result" data-ng-show="validationResult">
      <header>
        <h4>Results</h4>
      </header>
      <div id="result-content" >
        <pre>{{validationResult}}</pre>
      </div>
    </article>

  </div>
</div>
